.desktop-7-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-orangered-100);
  width: 1440px;
  height: 25px;
}
.knh-ngi-bn6 {
  position: absolute;
  top: 6px;
  left: 205px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 85px;
  height: 14px;
}
.desktop-7-inner,
.desktop-7-item {
  position: absolute;
  top: 5.5px;
  left: 288.5px;
  border-right: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1px;
  height: 13px;
}
.desktop-7-inner {
  top: 6.5px;
  left: 372.5px;
}
.kt-ni3,
.ti-ng-dng4 {
  position: absolute;
  top: 6px;
  left: 301px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 70px;
  height: 10px;
}
.kt-ni3 {
  left: 384px;
  width: 35px;
}
.vector-icon3 {
  position: absolute;
  height: 0.82%;
  width: 1.11%;
  top: 0.14%;
  right: 67.29%;
  bottom: 99.04%;
  left: 31.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thng-bo3 {
  position: absolute;
  top: 6px;
  left: 940px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 59px;
  height: 13px;
}
.desktop-7-child1 {
  position: absolute;
  top: 4px;
  left: 1001px;
  border-radius: 50%;
  background-color: var(--color-orangered-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.div50,
.h-tr3 {
  position: absolute;
  top: 5px;
  left: 1006px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 8px;
  height: 10px;
}
.h-tr3 {
  left: 1018px;
  font-weight: 600;
  width: 31px;
  height: 14px;
}
.desktop-7-child2,
.ting-vit3 {
  position: absolute;
  top: 4px;
  left: 1056px;
  width: 15px;
  height: 15px;
}
.ting-vit3 {
  top: 6px;
  left: 1073px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 50px;
  height: 13px;
}
.desktop-7-child3 {
  position: absolute;
  top: 11px;
  left: 1127px;
  width: 12px;
  height: 4.5px;
}
.desktop-7-child4 {
  position: absolute;
  top: 24px;
  left: 0;
  background-color: var(--color-orangered-200);
  width: 1440px;
  height: 75px;
}
.desktop-7-child5 {
  position: absolute;
  top: 41px;
  left: 371px;
  background-color: var(--color-white);
  border: 1px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 752px;
  height: 35px;
}
.desktop-7-child6 {
  position: absolute;
  top: 44px;
  left: 1077px;
  background-color: var(--color-orangered-200);
  width: 42px;
  height: 29px;
}
.shopee-home3 {
  position: absolute;
  top: 49px;
  left: 384px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
  display: inline-block;
  width: 111px;
  height: 18px;
}
.icon-magnifying-glassvarian3,
.ti-khon3 {
  position: absolute;
  top: 52px;
  left: 1091px;
  width: 14px;
  height: 14px;
}
.ti-khon3 {
  top: 6px;
  left: 1181px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 53px;
  cursor: pointer;
}
.image-65-icon1 {
  position: absolute;
  top: 29px;
  left: 195px;
  border-radius: var(--br-95xl);
  width: 56px;
  height: 58px;
  object-fit: cover;
}
.shopee6 {
  position: absolute;
  top: 45px;
  left: 251px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 94px;
  height: 27px;
  cursor: pointer;
}
.image-66-icon1 {
  position: absolute;
  top: 3px;
  left: 1160px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.tai-nghe-mini1 {
  position: absolute;
  top: 80px;
  left: 371px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 114px;
  height: 13px;
}
.acc-lin-qun1,
.iphone-01,
.n-bi-cu1,
.o-khoc-nam1,
.o-polo-nam1,
.tai-nghe-bluetooth19 {
  position: absolute;
  top: 80px;
  left: 494px;
  font-weight: 500;
  color: var(--color-white);
}
.acc-lin-qun1,
.iphone-01,
.n-bi-cu1,
.o-khoc-nam1,
.o-polo-nam1 {
  left: 634px;
}
.iphone-01,
.n-bi-cu1,
.o-khoc-nam1,
.o-polo-nam1 {
  left: 712px;
}
.iphone-01,
.n-bi-cu1,
.o-polo-nam1 {
  left: 792px;
}
.iphone-01,
.n-bi-cu1 {
  left: 904px;
}
.iphone-01 {
  left: 988px;
}
.desktop-7-child7 {
  position: absolute;
  top: 126px;
  left: 205px;
  background-color: var(--color-white);
  width: 1029px;
  height: 769px;
}
.image-68-icon1,
.image-69-icon1,
.image-70-icon1,
.image-71-icon1 {
  position: absolute;
  top: 487px;
  left: 221px;
  width: 82px;
  height: 70px;
  object-fit: cover;
}
.image-69-icon1,
.image-70-icon1,
.image-71-icon1 {
  left: 303px;
}
.image-70-icon1,
.image-71-icon1 {
  left: 467px;
}
.image-70-icon1 {
  left: 385px;
}
.desktop-7-child8,
.desktop-7-child9 {
  position: absolute;
  top: 507px;
  left: 221px;
  background-color: var(--color-gray-300);
  width: 17px;
  height: 30px;
}
.desktop-7-child9 {
  left: 532px;
}
.desktop-7-child10,
.desktop-7-child11 {
  position: absolute;
  top: 515px;
  left: 225px;
  width: 5px;
  height: 14px;
  object-fit: contain;
}
.desktop-7-child11 {
  left: 540px;
}
.nh-chp-mn-hnh-2024-04-13-09 {
  position: absolute;
  top: 143px;
  left: 554px;
  width: 56px;
  height: 17px;
  object-fit: cover;
}
.mc-kha-gu1 {
  position: absolute;
  top: 141px;
  left: 621px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 572px;
  height: 19px;
}
.nh-chp-mn-hnh-2024-04-13-10 {
  position: absolute;
  top: 205px;
  left: 554px;
  width: 95px;
  height: 18px;
  object-fit: cover;
}
.hoc-qu-tng {
  position: absolute;
  top: 165px;
  left: 554px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 137px;
  height: 21px;
}
.desktop-7-child12,
.desktop-7-child13 {
  position: absolute;
  top: 201.8px;
  left: 665.8px;
  border-right: 0.5px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 0.5px;
  height: 23.5px;
}
.desktop-7-child13 {
  left: 785.8px;
}
.nh-gi {
  color: var(--color-gray-100);
}
.k-nh-gi-container {
  position: absolute;
  top: 205px;
  left: 680px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 96.3px;
  height: 15.7px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
}
.desktop-7-child14,
.desktop-7-child15 {
  position: absolute;
  top: 222.8px;
  left: 679.8px;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 26.5px;
  height: 0.5px;
}
.desktop-7-child15 {
  left: 801.8px;
}
.k-bn-container,
.t-co {
  position: absolute;
  top: 205px;
  left: 800px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 82px;
  height: 15px;
}
.t-co {
  top: 209px;
  left: 1140px;
  color: var(--color-darkgray-100);
  width: 53px;
  height: 14px;
}
.nh-chp-mn-hnh-2024-04-13-101 {
  position: absolute;
  top: 234px;
  left: 554px;
  width: 639px;
  height: 45px;
  object-fit: cover;
}
.desktop-7-child16 {
  position: absolute;
  top: 278px;
  left: 554px;
  background-color: #f9f7f7;
  width: 639px;
  height: 46px;
}
.div51 {
  position: absolute;
  top: 294px;
  left: 573px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  display: inline-block;
  width: 129px;
  height: 19px;
}
.desktop-7-child17 {
  position: absolute;
  top: 303.5px;
  left: 572.5px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 122px;
  height: 1px;
}
.div52 {
  position: absolute;
  top: 285px;
  left: 706px;
  font-size: var(--font-size-5xl);
  color: var(--color-orangered-200);
  white-space: pre-wrap;
  display: inline-block;
  width: 213px;
  height: 31px;
}
.desktop-7-child18 {
  position: absolute;
  top: 296px;
  left: 961px;
  border-radius: var(--br-11xs);
  background-color: var(--color-red);
  width: 42px;
  height: 10px;
}
.chnh-sch-tr,
.gim {
  position: absolute;
  display: inline-block;
}
.gim {
  top: 297px;
  left: 964px;
  font-size: var(--font-size-6xs);
  font-weight: 600;
  color: var(--color-white);
  width: 36px;
  height: 9px;
}
.chnh-sch-tr {
  top: 349px;
  left: 555px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  width: 136px;
  height: 36px;
}
.nh-chp-mn-hnh-2024-04-13-102 {
  position: absolute;
  top: 354px;
  left: 675px;
  border-radius: 34.5px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.i-min,
.tr-hng-15 {
  position: absolute;
  top: 354px;
  font-size: var(--font-size-xs);
  display: inline-block;
  height: 14px;
}
.tr-hng-15 {
  left: 694px;
  color: #706f6f;
  width: 101px;
}
.i-min {
  left: 810px;
  color: var(--color-gray-100);
  width: 85px;
}
.desktop-7-child19 {
  position: absolute;
  top: 357px;
  left: 902px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}
.div53 {
  position: absolute;
  top: 356px;
  left: 905px;
  font-weight: 300;
  color: var(--color-gray-100);
  display: inline-block;
  width: 7px;
  height: 9px;
}
.mu,
.vn-chuyn3 {
  position: absolute;
  left: 556px;
  font-size: var(--font-size-mini);
}
.vn-chuyn3 {
  top: 410px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 90px;
  height: 20px;
}
.mu {
  top: 515px;
}
.nh-chp-mn-hnh-2024-04-13-103 {
  position: absolute;
  top: 412px;
  left: 678px;
  width: 22px;
  height: 15px;
  object-fit: cover;
}
.min-ph-vn,
.ph-vn-chuyn,
.vn-chuyn-ti {
  position: absolute;
  top: 411px;
  left: 706px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 131px;
  height: 16px;
}
.ph-vn-chuyn,
.vn-chuyn-ti {
  top: 443px;
  color: var(--color-gray-200);
  width: 101px;
}
.ph-vn-chuyn {
  top: 471px;
}
.nh-chp-mn-hnh-2024-04-13-104 {
  position: absolute;
  top: 444px;
  left: 679px;
  width: 17px;
  height: 15px;
  object-fit: cover;
}
.div54 {
  position: absolute;
  top: 472px;
  left: 840px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 84px;
  height: 12px;
}
.desktop-7-child20,
.image-72-icon1 {
  position: absolute;
  top: 478px;
  left: 928px;
  width: 11px;
  height: 7px;
}
.image-72-icon1 {
  top: 145px;
  left: 223px;
  width: 326px;
  height: 326px;
  object-fit: cover;
}
.desktop-7-child21,
.desktop-7-child22,
.desktop-7-child23 {
  position: absolute;
  top: 508px;
  left: 638px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 133px;
  height: 36px;
}
.desktop-7-child22,
.desktop-7-child23 {
  top: 565px;
}
.desktop-7-child23 {
  top: 622px;
}
.desktop-7-child24,
.desktop-7-child25,
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28,
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  position: absolute;
  top: 622px;
  left: 1064px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 133px;
  height: 36px;
}
.desktop-7-child25,
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28,
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  left: 922px;
}
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28,
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  left: 780px;
}
.desktop-7-child27,
.desktop-7-child28,
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  top: 565px;
}
.desktop-7-child28,
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  left: 922px;
}
.desktop-7-child29,
.desktop-7-child30,
.desktop-7-child31 {
  top: 508px;
  left: 1064px;
}
.desktop-7-child30,
.desktop-7-child31 {
  left: 922px;
}
.desktop-7-child31 {
  left: 780px;
}
.vn-11134207-7r98o-lnqp2uhtg5wt-icon {
  position: absolute;
  top: 512px;
  left: 649px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uhtercd-icon,
.vn-11134207-7r98o-lnqp2uhthkh9-icon {
  position: absolute;
  top: 512px;
  left: 790px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uhthkh9-icon {
  left: 932px;
}
.vn-11134207-7r98o-lnqp2uht3ist-icon,
.vn-11134207-7r98o-lnqp2uht4xd9-icon {
  position: absolute;
  top: 512px;
  left: 1074px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uht4xd9-icon {
  top: 569px;
  left: 649px;
}
.vn-11134207-7r98o-lnqp2uht6bxp-icon,
.vn-11134207-7r98o-lnqp2uht7qi5-icon {
  position: absolute;
  top: 569px;
  left: 790px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uht7qi5-icon {
  left: 932px;
}
.vn-11134207-7r98o-lnqp2uht952l-icon,
.vn-11134207-7r98o-lnqp2uhtajn1-icon {
  position: absolute;
  top: 626px;
  left: 649px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uhtajn1-icon {
  left: 790px;
}
.vn-11134207-7r98o-lnqp2uhtby7h-icon,
.vn-11134207-7r98o-lnqp2uhtdcrx-icon {
  position: absolute;
  top: 626px;
  left: 932px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.vn-11134207-7r98o-lnqp2uhtdcrx-icon {
  left: 1074px;
}
.mk-49-xanh,
.mk12-en,
.mk12-xanh,
.mk49-,
.mk49-en {
  position: absolute;
  top: 517px;
  left: 688px;
  font-size: var(--font-size-sm);
}
.mk-49-xanh,
.mk12-en,
.mk12-xanh,
.mk49- {
  top: 574px;
  left: 684px;
}
.mk-49-xanh,
.mk12-en,
.mk49- {
  top: 517px;
  left: 971px;
}
.mk-49-xanh,
.mk12-en {
  left: 827px;
}
.mk12-en {
  left: 1111px;
}
.mk12-hng,
.mk12-tm,
.mk52-,
.mk52-cam,
.mk52-hhng,
.mk52-xanh,
.s-lng1 {
  position: absolute;
  top: 574px;
  left: 828px;
  font-size: var(--font-size-sm);
}
.mk12-hng,
.mk52-,
.mk52-cam,
.mk52-hhng,
.mk52-xanh,
.s-lng1 {
  left: 971px;
}
.mk52-,
.mk52-cam,
.mk52-hhng,
.mk52-xanh,
.s-lng1 {
  top: 631px;
  left: 688px;
}
.mk52-,
.mk52-cam,
.mk52-hhng,
.s-lng1 {
  top: 630px;
  left: 828px;
}
.mk52-,
.mk52-hhng,
.s-lng1 {
  left: 971px;
}
.mk52-hhng,
.s-lng1 {
  left: 1106px;
}
.s-lng1 {
  top: 691px;
  left: 555px;
  font-size: var(--font-size-mini);
}
.desktop-7-child32,
.desktop-7-child33,
.desktop-7-child34 {
  position: absolute;
  top: 689px;
  left: 671px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 27px;
  height: 24px;
}
.desktop-7-child33,
.desktop-7-child34 {
  left: 763px;
}
.desktop-7-child34 {
  left: 698px;
  width: 65px;
}
.div55,
.div56,
.div57 {
  position: absolute;
  top: 692px;
  left: 681px;
  font-size: var(--font-size-mini);
}
.div56,
.div57 {
  left: 773px;
}
.div57 {
  left: 727px;
}
.desktop-7-child35 {
  position: absolute;
  top: 747px;
  left: 638px;
  background-color: #f5d6d6;
  border: 1px solid var(--color-red-100);
  box-sizing: border-box;
  width: 204px;
  height: 42px;
  cursor: pointer;
}
.f3bf6e431b6694a9aac-1-icon {
  position: absolute;
  top: 760px;
  left: 660px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.thm-vo-gi {
  position: absolute;
  top: 760px;
  left: 693px;
  font-size: var(--font-size-mini);
  color: var(--color-red-100);
}
.desktop-7-child36 {
  position: absolute;
  top: 747px;
  left: 866px;
  background-color: var(--color-red-100);
  width: 132px;
  height: 42px;
}
.mua-ngay {
  position: absolute;
  top: 760px;
  left: 899px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.e10a1f95cb083579c0-1-icon {
  position: absolute;
  top: 837px;
  left: 626px;
  width: 24px;
  height: 25px;
  object-fit: cover;
}
.shoppee-m-bo,
.tr-hng-min {
  position: absolute;
  top: 841px;
  left: 667px;
  font-size: var(--font-size-mini);
}
.tr-hng-min {
  left: 837px;
  color: #958383;
}
.desktop-7-child37,
.desktop-7-child38 {
  position: absolute;
  top: 916px;
  left: 205px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 1029px;
  height: 216px;
}
.desktop-7-child38 {
  top: 1163px;
  height: 980px;
}
.div58,
.gi-t-h,
.kho-hng,
.mc-kha {
  position: absolute;
  font-size: var(--font-size-base);
}
.gi-t-h {
  top: 1080px;
  left: 246px;
  white-space: pre-wrap;
}
.div58,
.kho-hng,
.mc-kha {
  top: 1038px;
  left: 433px;
}
.kho-hng,
.mc-kha {
  left: 246px;
}
.mc-kha {
  top: 997px;
  left: 818px;
  color: var(--color-mediumblue);
}
.span41 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.qu-lu-nim-container {
  position: absolute;
  top: 996px;
  left: 681px;
  font-size: var(--font-size-base);
  color: var(--color-mediumblue);
}
.chi-tit-sn,
.danh-mc {
  position: absolute;
  top: 956px;
  left: 246px;
  font-size: var(--font-size-xl);
}
.danh-mc {
  top: 996px;
  font-size: var(--font-size-base);
}
.span42 {
  color: var(--color-black);
}
.shoppee {
  position: absolute;
  top: 996px;
  left: 433px;
  font-size: var(--font-size-base);
  color: var(--color-mediumblue);
}
.nh-sch-online1,
.shoppee {
  white-space: pre-wrap;
}
.nh-sch-online-container {
  position: absolute;
  top: 996px;
  left: 531px;
  font-size: var(--font-size-base);
  color: var(--color-mediumblue);
}
.m-t-sn {
  position: absolute;
  top: 1201px;
  left: 246px;
  font-size: var(--font-size-xl);
}
.sn-phm-mc {
  margin: 0;
}
.sn-phm-mc-container {
  position: absolute;
  top: 1242px;
  left: 246px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 858px;
  height: 818px;
}
.image-67-icon1 {
  position: absolute;
  top: 4px;
  left: 916px;
  border-radius: var(--br-93xl-5);
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-13-133,
.nh-chp-mn-hnh-2024-04-13-134 {
  position: absolute;
  top: 3px;
  left: 430px;
  width: 17px;
  height: 19px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-13-134 {
  top: 52px;
  left: 1139px;
  width: 90px;
  height: 26px;
  cursor: pointer;
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 2208px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
