.desktop-3-child,
.desktop-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 80px;
}
.desktop-3-item {
  top: 80px;
  background-color: var(--color-orangered-100);
  height: 444px;
}
.bn-cn-gip1,
.ng-k2,
.shopee2 {
  position: absolute;
  display: inline-block;
}
.shopee2 {
  top: 25px;
  left: 185px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-orangered-200);
  width: 91px;
  height: 38px;
  cursor: pointer;
}
.bn-cn-gip1,
.ng-k2 {
  top: 24px;
  left: 283px;
  font-size: var(--font-size-6xl);
  width: 172px;
  height: 40px;
}
.bn-cn-gip1 {
  top: 30px;
  left: 1042px;
  font-size: var(--font-size-mini);
  color: var(--color-red);
  width: 133px;
  height: 18px;
}
.nn-tn-thng1 {
  margin: 0;
}
.nn-tn-thng-container1 {
  position: absolute;
  top: 392px;
  left: 283px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 346px;
  height: 55px;
}
.desktop-3-inner {
  position: absolute;
  top: 161px;
  left: 816px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 285px;
  height: 310px;
}
.ng-k3 {
  position: absolute;
  top: 175px;
  left: 836px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 98px;
  height: 18px;
}
.desktop-3-child1,
.desktop-3-child2 {
  position: absolute;
  top: 314.5px;
  left: 835.5px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 99px;
  height: 1px;
}
.desktop-3-child2 {
  left: 979.5px;
}
.hoc1 {
  position: absolute;
  top: 311px;
  left: 947px;
  font-weight: 300;
  color: var(--color-silver-200);
  display: inline-block;
  width: 24px;
  height: 10px;
}
.desktop-3-child3,
.desktop-3-child4 {
  position: absolute;
  top: 328px;
  left: 836px;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 118px;
  height: 25px;
}
.desktop-3-child4 {
  left: 959px;
  width: 119px;
}
.facebook1,
.google1,
.shopee3 {
  position: absolute;
  top: 336px;
  left: 881px;
  display: inline-block;
  width: 47px;
  height: 10px;
}
.google1,
.shopee3 {
  top: 337px;
  left: 1015px;
}
.shopee3 {
  top: 311px;
  left: 370px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-white);
  width: 154px;
  height: 35px;
}
.image-1-icon1,
.image-3-icon1 {
  position: absolute;
  top: 16px;
  left: 151px;
  width: 38px;
  height: 35px;
  object-fit: cover;
}
.image-3-icon1 {
  top: 95px;
  left: 338px;
  border-radius: var(--br-95xl);
  width: 236px;
  height: 220px;
}
.bn-c {
  position: absolute;
  top: 447px;
  left: 900px;
  font-size: var(--font-size-4xs);
  color: var(--color-silver-100);
  display: inline-block;
  width: 92px;
  height: 11px;
}
.iu-khon-dch {
  color: var(--color-orangered-100);
}
.chnh-sch-bo {
  color: var(--color-orangered-200);
}
.bng-vic-ng-container {
  position: absolute;
  top: 375px;
  left: 852px;
  font-size: var(--font-size-4xs);
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 207px;
  height: 26px;
}
.instance-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 242px;
  height: 35px;
}
.div1 {
  position: absolute;
  top: 10px;
  left: 16px;
  display: inline-block;
  width: 81px;
  height: 13px;
}
.instance-child6 {
  position: absolute;
  top: 9.8px;
  left: 6.8px;
  border-right: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 0.5px;
  height: 14.5px;
  opacity: 0;
}
.instance-child7,
.s-in-thoi {
  position: absolute;
  top: 10px;
  left: 16px;
  height: 14px;
}
.instance-child7 {
  background-color: var(--color-white);
  width: 98px;
}
.s-in-thoi {
  color: var(--color-silver-200);
  display: inline-block;
  width: 102px;
}
.frame-div,
.instance-child8 {
  position: absolute;
  width: 242px;
}
.frame-div {
  top: 214px;
  left: 836px;
  height: 35px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.instance-child8 {
  top: 0;
  left: 0;
  border-radius: var(--br-12xs);
  background-color: var(--color-orangered-200);
  height: 30px;
}
.tip-theo {
  position: absolute;
  top: 8px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
  width: 71px;
  height: 15px;
}
.rectangle-parent1 {
  position: absolute;
  top: 265px;
  left: 836px;
  width: 242px;
  height: 30px;
  overflow: hidden;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.ng-nhp4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.ng-nhp3 {
  position: absolute;
  top: 448px;
  left: 992px;
  width: 48px;
  height: 10px;
  cursor: pointer;
  font-size: var(--font-size-4xs);
  color: var(--color-orangered-100);
}
.nh-chp-mn-hnh-2024-04-13-122,
.nh-chp-mn-hnh-2024-04-13-123 {
  position: absolute;
  top: 331px;
  left: 854px;
  width: 20px;
  height: 21px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-13-123 {
  top: 333px;
  left: 989px;
  width: 18px;
  height: 18px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 548px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
