.desktop-6-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-orangered-100);
  width: 1440px;
  height: 25px;
}
.knh-ngi-bn5 {
  position: absolute;
  top: 6px;
  left: 205px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 85px;
  height: 14px;
}
.desktop-6-inner,
.desktop-6-item {
  position: absolute;
  top: 5.5px;
  left: 288.5px;
  border-right: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1px;
  height: 13px;
}
.desktop-6-inner {
  top: 6.5px;
  left: 372.5px;
}
.kt-ni2,
.ti-ng-dng3 {
  position: absolute;
  top: 6px;
  left: 301px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 70px;
  height: 10px;
}
.kt-ni2 {
  left: 384px;
  width: 35px;
}
.vector-icon2 {
  position: absolute;
  height: 0.95%;
  width: 1.18%;
  top: 0.18%;
  right: 67.15%;
  bottom: 98.88%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thng-bo2 {
  position: absolute;
  top: 6px;
  left: 940px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 59px;
  height: 13px;
}
.desktop-6-child1 {
  position: absolute;
  top: 4px;
  left: 1001px;
  border-radius: 50%;
  background-color: var(--color-orangered-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.div19,
.h-tr2 {
  position: absolute;
  top: 5px;
  left: 1006px;
  font-size: var(--font-size-3xs);
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 8px;
  height: 10px;
}
.h-tr2 {
  left: 1018px;
  font-weight: 600;
  width: 31px;
  height: 14px;
}
.desktop-6-child2,
.ting-vit2 {
  position: absolute;
  top: 4px;
  left: 1056px;
  width: 15px;
  height: 15px;
}
.ting-vit2 {
  top: 6px;
  left: 1073px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 50px;
  height: 13px;
}
.desktop-6-child3 {
  position: absolute;
  top: 11px;
  left: 1127px;
  width: 12px;
  height: 4.5px;
}
.desktop-6-child4 {
  position: absolute;
  top: 24px;
  left: 0;
  background-color: var(--color-orangered-200);
  width: 1440px;
  height: 75px;
}
.desktop-6-child5 {
  position: absolute;
  top: 41px;
  left: 371px;
  background-color: var(--color-white);
  border: 1px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 752px;
  height: 35px;
}
.desktop-6-child6 {
  position: absolute;
  top: 44px;
  left: 1077px;
  background-color: var(--color-orangered-200);
  width: 42px;
  height: 29px;
}
.shopee-home2 {
  position: absolute;
  top: 49px;
  left: 384px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 111px;
  height: 18px;
}
.icon-magnifying-glassvarian2,
.ti-khon2 {
  position: absolute;
  top: 52px;
  left: 1091px;
  width: 14px;
  height: 14px;
}
.ti-khon2 {
  top: 6px;
  left: 1181px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 53px;
  cursor: pointer;
}
.image-51-icon {
  position: absolute;
  top: 29px;
  left: 195px;
  border-radius: var(--br-95xl);
  width: 56px;
  height: 58px;
  object-fit: cover;
}
.shopee5 {
  position: absolute;
  top: 45px;
  left: 251px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 94px;
  height: 27px;
  cursor: pointer;
}
.image-16-icon1 {
  position: absolute;
  top: 3px;
  left: 1160px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.acc-lin-qun,
.iphone-0,
.n-bi-cu,
.o-khoc-nam,
.o-polo-nam,
.tai-nghe-bluetooth3,
.tai-nghe-mini {
  position: absolute;
  top: 80px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-white);
}
.tai-nghe-mini {
  left: 371px;
  display: inline-block;
  width: 114px;
  height: 13px;
}
.acc-lin-qun,
.iphone-0,
.n-bi-cu,
.o-khoc-nam,
.o-polo-nam,
.tai-nghe-bluetooth3 {
  left: 494px;
}
.acc-lin-qun,
.iphone-0,
.n-bi-cu,
.o-khoc-nam,
.o-polo-nam {
  left: 634px;
}
.iphone-0,
.n-bi-cu,
.o-khoc-nam,
.o-polo-nam {
  left: 712px;
}
.iphone-0,
.n-bi-cu,
.o-polo-nam {
  left: 792px;
}
.iphone-0,
.n-bi-cu {
  left: 904px;
}
.iphone-0 {
  left: 988px;
}
.desktop-6-child7,
.desktop-6-child8 {
  position: absolute;
  top: 99px;
  left: 205px;
  background-color: var(--color-white);
  width: 1023px;
  height: 70px;
}
.desktop-6-child8 {
  top: 163px;
  background-color: var(--color-orangered-200);
  height: 6px;
}
.gi-hm {
  position: absolute;
  top: 122px;
  left: 625px;
  font-size: var(--font-size-xl);
  color: var(--color-orangered-200);
  display: inline-block;
  width: 199px;
  height: 23px;
}
.desktop-6-child9 {
  position: absolute;
  top: 181px;
  left: 205px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child10,
.desktop-6-child11,
.desktop-6-child12,
.desktop-6-child13,
.desktop-6-child14 {
  position: absolute;
  top: 181px;
  left: 379px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child11,
.desktop-6-child12,
.desktop-6-child13,
.desktop-6-child14 {
  left: 552px;
}
.desktop-6-child12,
.desktop-6-child13,
.desktop-6-child14 {
  top: 182px;
  left: 725px;
}
.desktop-6-child13,
.desktop-6-child14 {
  top: 181px;
  left: 898px;
}
.desktop-6-child14 {
  top: 182px;
  left: 1071px;
}
.desktop-6-child15 {
  position: absolute;
  top: 181px;
  left: 205px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child16,
.desktop-6-child17,
.desktop-6-child18,
.desktop-6-child19 {
  position: absolute;
  top: 181px;
  left: 379px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child17,
.desktop-6-child18,
.desktop-6-child19 {
  left: 552px;
}
.desktop-6-child18,
.desktop-6-child19 {
  top: 182px;
  left: 725px;
}
.desktop-6-child19 {
  top: 181px;
  left: 898px;
}
.tai-nghebluetooth-khng1 {
  position: absolute;
  top: 352px;
  left: 213px;
  display: inline-block;
  width: 149px;
  height: 49px;
}
.nh-chp-mn-hnh-2024-04-08-104,
.nh-chp-mn-hnh-2024-04-08-105 {
  position: absolute;
  top: 386px;
  left: 209px;
  width: 54px;
  height: 12px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-08-105 {
  top: 387px;
  left: 554px;
  width: 55px;
  height: 14px;
}
.span7 {
  font-size: var(--font-size-mini);
}
.div20,
.div21,
.div22,
.div23,
.div24,
.div25 {
  position: absolute;
  top: 416px;
  left: 211px;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 64px;
  height: 19px;
}
.div21,
.div22,
.div23,
.div24,
.div25 {
  left: 381px;
  width: 67px;
}
.div22,
.div23,
.div24,
.div25 {
  left: 560px;
  width: 65px;
}
.div23,
.div24,
.div25 {
  top: 417px;
  left: 732px;
  width: 67px;
}
.div24,
.div25 {
  top: 414px;
  left: 907px;
}
.div25 {
  top: 415px;
  left: 1085px;
}
.bn-105,
.bn-1241,
.bn-124k1,
.bn-130k1,
.bn-2051,
.bn-3051 {
  position: absolute;
  top: 421px;
  left: 308px;
  font-size: var(--font-size-4xs);
  font-weight: 200;
  display: inline-block;
  width: 48px;
  height: 11px;
}
.bn-105,
.bn-124k1,
.bn-130k1,
.bn-2051,
.bn-3051 {
  left: 477px;
  width: 53px;
  height: 10px;
}
.bn-105,
.bn-130k1,
.bn-2051,
.bn-3051 {
  left: 651px;
  width: 54px;
  height: 14px;
}
.bn-105,
.bn-2051,
.bn-3051 {
  left: 821px;
  width: 55px;
  height: 9px;
}
.bn-105,
.bn-2051 {
  top: 420px;
  left: 999px;
  width: 51px;
  height: 10px;
}
.bn-105 {
  left: 1174px;
}
.image-41-icon2,
.image-42-icon {
  position: absolute;
  top: 329px;
  left: 379px;
  width: 54px;
  height: 16px;
  object-fit: cover;
}
.image-42-icon {
  left: 554px;
  width: 55px;
}
.span13 {
  font-size: var(--font-size-xs);
  font-weight: 200;
}
.clublu-tai-nghe-container1,
.tai-nghe-bluetooth4 {
  position: absolute;
  top: 364px;
  left: 382px;
  display: inline-block;
  width: 150px;
  height: 25px;
}
.tai-nghe-bluetooth4 {
  top: 349px;
  left: 556px;
  width: 149px;
  height: 52px;
}
.balo-nam-balo,
.tai-nghe-bluetooth5,
.tai-nghe-bluetooth6 {
  position: absolute;
  top: 350px;
  left: 729px;
  display: inline-block;
  width: 150px;
  height: 51px;
}
.balo-nam-balo,
.tai-nghe-bluetooth6 {
  top: 349px;
  left: 907px;
  width: 148px;
  height: 47px;
}
.balo-nam-balo {
  left: 1075px;
}
.image-52-icon,
.nh-chp-mn-hnh-2024-04-08-106,
.nh-chp-mn-hnh-2024-04-08-107 {
  position: absolute;
  top: 384px;
  left: 734px;
  width: 35px;
  height: 13px;
  object-fit: cover;
}
.image-52-icon,
.nh-chp-mn-hnh-2024-04-08-107 {
  top: 383px;
  left: 907px;
  width: 34px;
}
.image-52-icon {
  top: 182px;
  left: 1071px;
  width: 157px;
  height: 161px;
}
.desktop-6-child20 {
  position: absolute;
  top: 468px;
  left: 205px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child21,
.desktop-6-child22,
.desktop-6-child23,
.desktop-6-child24,
.desktop-6-child25 {
  position: absolute;
  top: 468px;
  left: 379px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child22,
.desktop-6-child23,
.desktop-6-child24,
.desktop-6-child25 {
  left: 552px;
}
.desktop-6-child23,
.desktop-6-child24,
.desktop-6-child25 {
  top: 469px;
  left: 725px;
}
.desktop-6-child24,
.desktop-6-child25 {
  top: 468px;
  left: 898px;
}
.desktop-6-child25 {
  top: 469px;
  left: 1071px;
}
.desktop-6-child26,
.desktop-6-child27 {
  position: absolute;
  top: 468px;
  left: 205px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child27 {
  left: 379px;
  cursor: pointer;
}
.desktop-6-child28,
.desktop-6-child29,
.desktop-6-child30 {
  position: absolute;
  top: 468px;
  left: 552px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child29,
.desktop-6-child30 {
  top: 469px;
  left: 725px;
}
.desktop-6-child30 {
  top: 468px;
  left: 898px;
}
.mc-kha-xe {
  position: absolute;
  top: 639px;
  left: 213px;
  display: inline-block;
  width: 149px;
  height: 22px;
}
.nh-chp-mn-hnh-2024-04-08-108,
.nh-chp-mn-hnh-2024-04-08-109 {
  position: absolute;
  top: 673px;
  left: 209px;
  width: 54px;
  height: 12px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-08-109 {
  top: 674px;
  left: 554px;
  width: 55px;
  height: 14px;
}
.div26,
.div27,
.div28,
.div29,
.div30,
.div31 {
  position: absolute;
  top: 703px;
  left: 211px;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 64px;
  height: 19px;
}
.div27,
.div28,
.div29,
.div30,
.div31 {
  left: 381px;
  width: 67px;
}
.div28,
.div29,
.div30,
.div31 {
  left: 560px;
  width: 65px;
}
.div29,
.div30,
.div31 {
  top: 704px;
  left: 732px;
  width: 67px;
}
.div30,
.div31 {
  top: 701px;
  left: 907px;
}
.div31 {
  top: 702px;
  left: 1085px;
}
.bn-1051,
.bn-1242,
.bn-124k2,
.bn-130k2,
.bn-2052,
.bn-3052 {
  position: absolute;
  top: 708px;
  left: 308px;
  font-size: var(--font-size-4xs);
  font-weight: 200;
  display: inline-block;
  width: 48px;
  height: 11px;
}
.bn-1051,
.bn-124k2,
.bn-130k2,
.bn-2052,
.bn-3052 {
  left: 477px;
  width: 53px;
  height: 10px;
}
.bn-1051,
.bn-130k2,
.bn-2052,
.bn-3052 {
  left: 651px;
  width: 54px;
  height: 14px;
}
.bn-1051,
.bn-2052,
.bn-3052 {
  left: 821px;
  width: 55px;
  height: 9px;
}
.bn-1051,
.bn-2052 {
  top: 707px;
  left: 999px;
  width: 51px;
  height: 10px;
}
.bn-1051 {
  left: 1174px;
}
.image-53-icon,
.image-54-icon {
  position: absolute;
  top: 616px;
  left: 379px;
  width: 54px;
  height: 16px;
  object-fit: cover;
}
.image-54-icon {
  left: 554px;
  width: 55px;
}
.mc-kha-gu,
.tai-nghe-bluetooth7 {
  position: absolute;
  top: 644px;
  left: 383px;
  display: inline-block;
  width: 150px;
  height: 37px;
}
.tai-nghe-bluetooth7 {
  top: 636px;
  left: 556px;
  width: 149px;
  height: 49px;
}
.balo-nam-balo1,
.tai-nghe-bluetooth8,
.tai-nghe-bluetooth9 {
  position: absolute;
  top: 637px;
  left: 729px;
  display: inline-block;
  width: 150px;
  height: 48px;
}
.balo-nam-balo1,
.tai-nghe-bluetooth9 {
  top: 636px;
  left: 907px;
  width: 148px;
}
.balo-nam-balo1 {
  left: 1075px;
  height: 47px;
}
.image-55-icon,
.nh-chp-mn-hnh-2024-04-08-1010,
.nh-chp-mn-hnh-2024-04-08-1011 {
  position: absolute;
  top: 671px;
  left: 734px;
  width: 35px;
  height: 13px;
  object-fit: cover;
}
.image-55-icon,
.nh-chp-mn-hnh-2024-04-08-1011 {
  top: 670px;
  left: 907px;
  width: 34px;
}
.image-55-icon {
  top: 469px;
  left: 1071px;
  width: 157px;
  height: 161px;
}
.desktop-6-child31 {
  position: absolute;
  top: 761px;
  left: 205px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child32,
.desktop-6-child33,
.desktop-6-child34,
.desktop-6-child35,
.desktop-6-child36 {
  position: absolute;
  top: 761px;
  left: 379px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child33,
.desktop-6-child34,
.desktop-6-child35,
.desktop-6-child36 {
  left: 552px;
}
.desktop-6-child34,
.desktop-6-child35,
.desktop-6-child36 {
  top: 762px;
  left: 725px;
}
.desktop-6-child35,
.desktop-6-child36 {
  top: 761px;
  left: 898px;
}
.desktop-6-child36 {
  top: 762px;
  left: 1071px;
}
.desktop-6-child37 {
  position: absolute;
  top: 761px;
  left: 205px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child38,
.desktop-6-child39,
.desktop-6-child40,
.desktop-6-child41 {
  position: absolute;
  top: 761px;
  left: 379px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child39,
.desktop-6-child40,
.desktop-6-child41 {
  left: 552px;
}
.desktop-6-child40,
.desktop-6-child41 {
  top: 762px;
  left: 725px;
}
.desktop-6-child41 {
  top: 761px;
  left: 898px;
}
.tai-nghebluetooth-khng2 {
  position: absolute;
  top: 932px;
  left: 213px;
  display: inline-block;
  width: 149px;
  height: 49px;
}
.nh-chp-mn-hnh-2024-04-08-1012,
.nh-chp-mn-hnh-2024-04-08-1013 {
  position: absolute;
  top: 966px;
  left: 209px;
  width: 54px;
  height: 12px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-08-1013 {
  top: 967px;
  left: 554px;
  width: 55px;
  height: 14px;
}
.div32,
.div33,
.div34,
.div35,
.div36,
.div37 {
  position: absolute;
  top: 996px;
  left: 211px;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 64px;
  height: 19px;
}
.div33,
.div34,
.div35,
.div36,
.div37 {
  left: 381px;
  width: 67px;
}
.div34,
.div35,
.div36,
.div37 {
  left: 560px;
  width: 65px;
}
.div35,
.div36,
.div37 {
  top: 997px;
  left: 732px;
  width: 67px;
}
.div36,
.div37 {
  top: 994px;
  left: 907px;
}
.div37 {
  top: 995px;
  left: 1085px;
}
.bn-1052,
.bn-1243,
.bn-124k3,
.bn-130k3,
.bn-2053,
.bn-3053 {
  position: absolute;
  top: 1001px;
  left: 308px;
  font-size: var(--font-size-4xs);
  font-weight: 200;
  display: inline-block;
  width: 48px;
  height: 11px;
}
.bn-1052,
.bn-124k3,
.bn-130k3,
.bn-2053,
.bn-3053 {
  left: 477px;
  width: 53px;
  height: 10px;
}
.bn-1052,
.bn-130k3,
.bn-2053,
.bn-3053 {
  left: 651px;
  width: 54px;
  height: 14px;
}
.bn-1052,
.bn-2053,
.bn-3053 {
  left: 821px;
  width: 55px;
  height: 9px;
}
.bn-1052,
.bn-2053 {
  top: 1000px;
  left: 999px;
  width: 51px;
  height: 10px;
}
.bn-1052 {
  left: 1174px;
}
.image-56-icon,
.image-57-icon {
  position: absolute;
  top: 909px;
  left: 379px;
  width: 54px;
  height: 16px;
  object-fit: cover;
}
.image-57-icon {
  left: 554px;
  width: 55px;
}
.clublu-tai-nghe-container2,
.tai-nghe-bluetooth10 {
  position: absolute;
  top: 944px;
  left: 382px;
  display: inline-block;
  width: 150px;
  height: 25px;
}
.tai-nghe-bluetooth10 {
  top: 929px;
  left: 556px;
  width: 149px;
  height: 52px;
}
.balo-nam-balo2,
.tai-nghe-bluetooth11,
.tai-nghe-bluetooth12 {
  position: absolute;
  top: 930px;
  left: 729px;
  display: inline-block;
  width: 150px;
  height: 51px;
}
.balo-nam-balo2,
.tai-nghe-bluetooth12 {
  top: 929px;
  left: 907px;
  width: 148px;
  height: 49px;
}
.balo-nam-balo2 {
  left: 1075px;
  height: 47px;
}
.image-58-icon,
.nh-chp-mn-hnh-2024-04-08-1014,
.nh-chp-mn-hnh-2024-04-08-1015 {
  position: absolute;
  top: 964px;
  left: 734px;
  width: 35px;
  height: 13px;
  object-fit: cover;
}
.image-58-icon,
.nh-chp-mn-hnh-2024-04-08-1015 {
  top: 963px;
  left: 907px;
  width: 34px;
}
.image-58-icon {
  top: 762px;
  left: 1071px;
  width: 157px;
  height: 161px;
}
.desktop-6-child42 {
  position: absolute;
  top: 1337px;
  left: 205px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child43,
.desktop-6-child44,
.desktop-6-child45,
.desktop-6-child46,
.desktop-6-child47 {
  position: absolute;
  top: 1337px;
  left: 379px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child44,
.desktop-6-child45,
.desktop-6-child46,
.desktop-6-child47 {
  left: 552px;
}
.desktop-6-child45,
.desktop-6-child46,
.desktop-6-child47 {
  top: 1338px;
  left: 725px;
}
.desktop-6-child46,
.desktop-6-child47 {
  top: 1337px;
  left: 898px;
}
.desktop-6-child47 {
  top: 1338px;
  left: 1071px;
}
.desktop-6-child48 {
  position: absolute;
  top: 1337px;
  left: 205px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child49,
.desktop-6-child50,
.desktop-6-child51,
.desktop-6-child52 {
  position: absolute;
  top: 1337px;
  left: 379px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child50,
.desktop-6-child51,
.desktop-6-child52 {
  left: 552px;
}
.desktop-6-child51,
.desktop-6-child52 {
  top: 1338px;
  left: 725px;
}
.desktop-6-child52 {
  top: 1337px;
  left: 898px;
}
.tai-nghebluetooth-khng3 {
  position: absolute;
  top: 1508px;
  left: 213px;
  display: inline-block;
  width: 149px;
  height: 49px;
}
.nh-chp-mn-hnh-2024-04-08-1016,
.nh-chp-mn-hnh-2024-04-08-1017 {
  position: absolute;
  top: 1542px;
  left: 209px;
  width: 54px;
  height: 12px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-08-1017 {
  top: 1543px;
  left: 554px;
  width: 55px;
  height: 14px;
}
.div38,
.div39,
.div40,
.div41,
.div42,
.div43 {
  position: absolute;
  top: 1572px;
  left: 211px;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 64px;
  height: 19px;
}
.div39,
.div40,
.div41,
.div42,
.div43 {
  left: 381px;
  width: 67px;
}
.div40,
.div41,
.div42,
.div43 {
  left: 560px;
  width: 65px;
}
.div41,
.div42,
.div43 {
  top: 1573px;
  left: 732px;
  width: 67px;
}
.div42,
.div43 {
  top: 1570px;
  left: 907px;
}
.div43 {
  top: 1571px;
  left: 1085px;
}
.bn-1053,
.bn-1244,
.bn-124k4,
.bn-130k4,
.bn-2054,
.bn-3054 {
  position: absolute;
  top: 1577px;
  left: 308px;
  font-size: var(--font-size-4xs);
  font-weight: 200;
  display: inline-block;
  width: 48px;
  height: 11px;
}
.bn-1053,
.bn-124k4,
.bn-130k4,
.bn-2054,
.bn-3054 {
  left: 477px;
  width: 53px;
  height: 10px;
}
.bn-1053,
.bn-130k4,
.bn-2054,
.bn-3054 {
  left: 651px;
  width: 54px;
  height: 14px;
}
.bn-1053,
.bn-2054,
.bn-3054 {
  left: 821px;
  width: 55px;
  height: 9px;
}
.bn-1053,
.bn-2054 {
  top: 1576px;
  left: 999px;
  width: 51px;
  height: 10px;
}
.bn-1053 {
  left: 1174px;
}
.image-70-icon,
.image-71-icon {
  position: absolute;
  top: 1485px;
  left: 379px;
  width: 54px;
  height: 16px;
  object-fit: cover;
}
.image-71-icon {
  left: 554px;
  width: 55px;
}
.clublu-tai-nghe-container3,
.tai-nghe-bluetooth13 {
  position: absolute;
  top: 1520px;
  left: 382px;
  display: inline-block;
  width: 150px;
  height: 25px;
}
.tai-nghe-bluetooth13 {
  top: 1505px;
  left: 556px;
  width: 149px;
  height: 52px;
}
.balo-nam-balo3,
.tai-nghe-bluetooth14,
.tai-nghe-bluetooth15 {
  position: absolute;
  top: 1506px;
  left: 729px;
  display: inline-block;
  width: 150px;
  height: 51px;
}
.balo-nam-balo3,
.tai-nghe-bluetooth15 {
  top: 1505px;
  left: 907px;
  width: 148px;
  height: 49px;
}
.balo-nam-balo3 {
  left: 1075px;
  height: 47px;
}
.image-72-icon,
.nh-chp-mn-hnh-2024-04-08-1018,
.nh-chp-mn-hnh-2024-04-08-1019 {
  position: absolute;
  top: 1540px;
  left: 734px;
  width: 35px;
  height: 13px;
  object-fit: cover;
}
.image-72-icon,
.nh-chp-mn-hnh-2024-04-08-1019 {
  top: 1539px;
  left: 907px;
  width: 34px;
}
.image-72-icon {
  top: 1338px;
  left: 1071px;
  width: 157px;
  height: 161px;
}
.desktop-6-child53 {
  position: absolute;
  top: 1053px;
  left: 205px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child54,
.desktop-6-child55,
.desktop-6-child56,
.desktop-6-child57,
.desktop-6-child58 {
  position: absolute;
  top: 1053px;
  left: 379px;
  background-color: var(--color-white);
  width: 157px;
  height: 260px;
}
.desktop-6-child55,
.desktop-6-child56,
.desktop-6-child57,
.desktop-6-child58 {
  left: 552px;
}
.desktop-6-child56,
.desktop-6-child57,
.desktop-6-child58 {
  top: 1054px;
  left: 725px;
}
.desktop-6-child57,
.desktop-6-child58 {
  top: 1053px;
  left: 898px;
}
.desktop-6-child58 {
  top: 1054px;
  left: 1071px;
}
.desktop-6-child59 {
  position: absolute;
  top: 1053px;
  left: 205px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child60,
.desktop-6-child61,
.desktop-6-child62,
.desktop-6-child63 {
  position: absolute;
  top: 1053px;
  left: 379px;
  width: 157px;
  height: 162px;
  object-fit: cover;
}
.desktop-6-child61,
.desktop-6-child62,
.desktop-6-child63 {
  left: 552px;
}
.desktop-6-child62,
.desktop-6-child63 {
  top: 1054px;
  left: 725px;
}
.desktop-6-child63 {
  top: 1053px;
  left: 898px;
}
.tai-nghebluetooth-khng4 {
  position: absolute;
  top: 1224px;
  left: 213px;
  display: inline-block;
  width: 149px;
  height: 49px;
}
.nh-chp-mn-hnh-2024-04-08-1020,
.nh-chp-mn-hnh-2024-04-08-1021 {
  position: absolute;
  top: 1258px;
  left: 209px;
  width: 54px;
  height: 12px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-08-1021 {
  top: 1259px;
  left: 554px;
  width: 55px;
  height: 14px;
}
.div44,
.div45,
.div46,
.div47,
.div48,
.div49 {
  position: absolute;
  top: 1288px;
  left: 211px;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 64px;
  height: 19px;
}
.div45,
.div46,
.div47,
.div48,
.div49 {
  left: 381px;
  width: 67px;
}
.div46,
.div47,
.div48,
.div49 {
  left: 560px;
  width: 65px;
}
.div47,
.div48,
.div49 {
  top: 1289px;
  left: 732px;
  width: 67px;
}
.div48,
.div49 {
  top: 1286px;
  left: 907px;
}
.div49 {
  top: 1287px;
  left: 1085px;
}
.bn-1054,
.bn-1245,
.bn-124k5,
.bn-130k5,
.bn-2055,
.bn-3055 {
  position: absolute;
  top: 1293px;
  left: 308px;
  font-size: var(--font-size-4xs);
  font-weight: 200;
  display: inline-block;
  width: 48px;
  height: 11px;
}
.bn-1054,
.bn-124k5,
.bn-130k5,
.bn-2055,
.bn-3055 {
  left: 477px;
  width: 53px;
  height: 10px;
}
.bn-1054,
.bn-130k5,
.bn-2055,
.bn-3055 {
  left: 651px;
  width: 54px;
  height: 14px;
}
.bn-1054,
.bn-2055,
.bn-3055 {
  left: 821px;
  width: 55px;
  height: 9px;
}
.bn-1054,
.bn-2055 {
  top: 1292px;
  left: 999px;
  width: 51px;
  height: 10px;
}
.bn-1054 {
  left: 1174px;
}
.image-67-icon,
.image-68-icon {
  position: absolute;
  top: 1201px;
  left: 379px;
  width: 54px;
  height: 16px;
  object-fit: cover;
}
.image-68-icon {
  left: 554px;
  width: 55px;
}
.clublu-tai-nghe-container4,
.tai-nghe-bluetooth16 {
  position: absolute;
  top: 1236px;
  left: 382px;
  display: inline-block;
  width: 150px;
  height: 25px;
}
.tai-nghe-bluetooth16 {
  top: 1221px;
  left: 556px;
  width: 149px;
  height: 52px;
}
.balo-nam-balo4,
.tai-nghe-bluetooth17,
.tai-nghe-bluetooth18 {
  position: absolute;
  top: 1222px;
  left: 729px;
  display: inline-block;
  width: 150px;
  height: 51px;
}
.balo-nam-balo4,
.tai-nghe-bluetooth18 {
  top: 1221px;
  left: 907px;
  width: 148px;
  height: 49px;
}
.balo-nam-balo4 {
  left: 1075px;
  height: 47px;
}
.image-69-icon,
.nh-chp-mn-hnh-2024-04-08-1022,
.nh-chp-mn-hnh-2024-04-08-1023 {
  position: absolute;
  top: 1256px;
  left: 734px;
  width: 35px;
  height: 13px;
  object-fit: cover;
}
.image-69-icon,
.nh-chp-mn-hnh-2024-04-08-1023 {
  top: 1255px;
  left: 907px;
  width: 34px;
}
.image-69-icon {
  top: 1054px;
  left: 1071px;
  width: 157px;
  height: 161px;
}
.f3bf6e431b6694a9aac-2-icon {
  position: absolute;
  top: 49px;
  left: 1148px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.gi-hng3 {
  position: absolute;
  top: 53px;
  left: 1178px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}
.image-66-icon {
  position: absolute;
  top: 3px;
  left: 915px;
  border-radius: var(--br-93xl-5);
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.nh-chp-mn-hnh-2024-04-13-132 {
  position: absolute;
  top: 1px;
  left: 429px;
  width: 17px;
  height: 19px;
  object-fit: cover;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1693px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
