body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-alata: Alata;

  /* font sizes */
  --font-size-4xs: 9px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-21xl: 40px;
  --font-size-5xs: 8px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-5xl: 24px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-6xs: 7px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray-100: #b3a5a5;
  --color-silver-100: #cac5c5;
  --color-silver-200: #c5b8b8;
  --color-orangered-100: #fe5723;
  --color-orangered-200: #f95c18;
  --color-black: #000;
  --color-lightgray: #d7caca;
  --color-darkblue: #0b08a1;
  --color-red: #f91818;
  --color-red-100: #ff0000;
  --color-blueviolet: #9747ff;
  --color-whitesmoke-100: #f1eeee;
  --color-gray-100: #989292;
  --color-gray-200: #787676;
  --color-gray-300: rgba(152, 146, 146, 0.56);
  --color-tomato: #ea4335;
  --color-antiquewhite: #fee9d6;
  --color-mediumblue: #0038fe;

  /* Paddings */
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-12xs: 1px;
  --br-11xs: 2px;
  --br-95xl: 114px;
  --br-8xs: 5px;
  --br-93xl-5: 112.5px;
}
